<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<title>Error - FALG  </title>

		<link rel="shortcut icon" type="image/x-icon" href="../public/images/favicon_flag.ico" />

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href='https://fonts.googleapis.com/css?family=Indie+Flower|Nunito|Orbitron' rel='stylesheet' type='text/css'>
		<link type="text/css" rel="stylesheet" href="/stylesheets/error.css">
		<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	
	</head>
	<body>
		<h1>FLAG</h1>
		<img class="img_flag" src="/images/error_flag5.png">
		<p><span>오, 이런!</span><br/></br>
		입력하신 ID와 FLAG를 다시한번 확인해 주세요.</p>
		<a class="goto_main" href="/">메인으로</a>

	</body>
</html>