<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">

		<title>FLAG_JOIN</title>
		<link href='https://fonts.googleapis.com/css?family=Indie+Flower|Nunito|Orbitron' rel='stylesheet' type='text/css'>
		<link type="text/css" rel="stylesheet" href="/stylesheets/welcome.css">
	</head>
	<body>
		<div class="welcome_wrap">
			<h1>Welcome to</br><span>FLAG</span></br></h1>
			<!--<img src="../images/firework.png" class="firework">-->
			<p>플래그 회원가입을 축하합니다</p>
		</div>
	</body>
</html>