
<header>


	<!--<div class="container">-->

	<!--<%	if(userID == null){ %>-->
	<!--<div id="header_wrap" class="header_login">-->
		<!--<a href="/"><img id="top_logo" src="../images/flag_logo.png"/></a>-->
		<!--<p><a href="/" class="a">로그인 해주세요.</a></p>-->
	<!--</div>-->
	<!--<%	} else{%>-->
	<!--<div id="header_wrap" class="header_logout">-->
		<!--<a href="/"><img id="top_logo" src="../images/flag_logo.png"/></a>-->
		<!--<ul class="login_info">-->

			<!--<li><a href="/signout">LOG OUT</a></li>-->
			<!--<li><a href="/<%=userID%>">MY PAGE</a></li>-->
			<!--<li><%=userID%>님 반갑습니다.</li>-->
		<!--</ul>-->
	<!--</div>-->
	<!--<% }%>-->

	<!--</div>-->
</header>